<h1> Welcome </h1>


<%= link_to 'Read Posts', posts_path %>
<br>
<%= link_to "Edit Details", edit_admin_user_registration_path %>
<br>
<% if admin_user_signed_in? %>
  <%= link_to "Sign_Out", destroy_admin_user_session_path, method: :delete %>
<% else %>
  <%= link_to "Sign_In", new_admin_user_session_path %>
<% end %>