<h1> Welcome to the posts </h1>

<%= link_to "New Post", new_post_path %>
<br>

<h1> Posts List</h1>
<% @posts.each do |post| %>
<h2><%= post.id %></h2>
<%= link_to "See Details", post %><br>
<% end %>
<br>
<%= link_to "Back", new_admin_user_session_path %>
